BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AllowShortCaseLabelsOnASingleLine: true
ContinuationIndentWidth: 0
BreakBeforeBraces: Linux
ColumnLimit: 79
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
FixNamespaceComments: false
IndentCaseLabels: false
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseTab: Never
SortIncludes: true
IncludeBlocks: Preserve
